/* #result {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
}

#result .DraftEditor-root {
  white-space: pre-line;
  direction: rtl;
  flex: 1 1 auto;
}

#result .public-DraftEditor-content {
  overflow: auto;
  max-height: 100vh;
}

#result #preview {
  max-width: 50%;
  max-height: 100%;
  height: auto;
  flex: 1 1 auto;
  object-fit: contain;
}
*/
#editor {
  white-space: pre-line;
  direction: rtl;
  outline: none;
  border: 0;
  padding: 16pt;
}

#preview {
  object-fit: contain;
}
